html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.button1, .button2 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.button1 {
    margin-top: 10px;
}

.button2 {
    margin-top: 50px;
}

#gl-canvas {
    position: relative;
    top: 500px; /* adjust this value to move the canvas up by the desired amount */
}